:root {
    --nav-height: 50px;

    --main-color: #FFF0DB;
    --main-panel-color: #D7707C;
    --contrast-color: #800020;
    --highlight-color: #AAEEF7;
}

body {
    background-color: var(--main-color);
    padding: 0;
    margin: 0;
    margin-top: var(--nav-height);
}

nav {
    background-color: var(--contrast-color);
    height: var(--nav-height);
    position: fixed;
    width: 100%;
    margin: 0;
    top: 0;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: var(--main-color);
    text-decoration: none;
}

nav a:hover {
    color: var(--highlight-color);
}

.left {
    float: left;
}

.right {
    float: right;
    margin-right: 10px;
}

.page-title {
    background-image: url("Images/banner.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 500px;
}

.title-header {
    text-align: center;
}

.title-header h1 {
    font-size: 5vw;
    margin-bottom: 5px;
}

.title-header h3 {
    margin-top: 0;
    font-style: italic;
}

.page-content {
    padding-top: 20px;
    display: flex;
}

.third {
    background-color: var(--main-panel-color);
    border-radius: 10px;
    padding: 10px;
    margin-left: 2%;
    margin-right: 2%;
    flex: 30%;
}

.third + .third {
    margin-left: 0;
}

.third h2 {
    margin-top: 0;
}

.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 30px;
    background-color: #f9f9f9;
}
    
.card img {
    max-width: 50%;
    display: block;
    margin: 0 auto 15px auto; /* top: 0, horizontal: auto (centered), bottom: 15px */
    border-radius: 8px;
}

.section-title {
    font-weight: bold;
    color: #0077b6;
    margin-top: 15px;
    margin-bottom: 5px;
}

        ul,
        h4 {
            font-family: 'Roboto', Arial;
        }

        h2 {
            text-align: center;
            font-family: 'Roboto', Arial;
        }

        .tips-content-container {
            font-family: 'Roboto', Arial;
            border: 3px solid brown;
            border-radius: 8px;
            padding: 10px;
            line-height: 28px;
        }

        .tips-grid-container {
            display: grid;
            grid-template-columns: repeat(1, 350px);
            grid-gap: 16px;
            justify-content: center;
        }


        @media screen and (width >=768px) {
            .tips-grid-container {
                grid-template-columns: repeat(2, 350px);
            }
        }

        @media screen and (width >=1300px) {
            .tips-grid-container {
                grid-template-columns: repeat(3, 350px);
            }
        }

        @media screen and (width >=1440px) {
            .tips-grid-container {
                grid-template-columns: repeat(4, 350px);
            }
        }

        /* Packing page stuff */

        .packing-body {
            background-color: #e8cfc3;
            margin: 0;
        }

        .packing-banner {
            margin-top: 100px;
            background-image:url("Images/packing-banner.jpg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 420px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .packing-banner h1 {
            font-size: 50px;
            color: white;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 1rem 2rem;
            border-radius: 10px;
        }

        .packing-section {
            margin-top: 100px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 5rem;
            padding: 2rem;
        }

        .packing-section h2 {
            color:  #800020;
            border-bottom: 2px solid #800020;
            margin-top: 2rem;
        }

        .packing-checkbox input[type="checkbox"] {
            cursor: pointer;
            transform: scale(1.7);
            margin-right: 10px;
        }

        .packing-checkbox label {
            display: block;
            margin-bottom: 8px;
            cursor: pointer;
            font-size: 30px;
        }